# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and secrets
.env
.streamlit/

# Large data files (if not needed in the repository)
data/*.pdf
data/*.csv
data/*.jsonl

# Virtual environment
venv/
